<%- include("partials/header") -%>


  <nav class="navbar  navbar-default">
  <div class="container">
    <!-- brand -->
    <div class="navbar-header">
      <p class="navbar-brand">Discover Yourself Lectures</p>
    </div>
    <!-- brand ends -->


  </div>  <!-- category div-->
</nav> <!-- category nav-->

<div class="dys container-fluid">

<div class="row">   <!-- outer Row -->

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DYS_1.jpg" alt="image-error" style="width: 408px;height: 275px;">
      <div class="caption">
        <h3>The MasterMind Behind the Mysterious Universe</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1qchBhZp8iq22tU5IQ8nBRIUxlnBycUoW/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DYS_2.jpg" alt="image-error" style="width: 468px;height: 275px;">
      <div class="caption">
        <h3>Access The Truth Beyond 4 Defects</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1eagrV31b_kFManPuu3-NdZDlM59PvZ7p/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DYS_3.jpg" alt="image-error" style="width: 413px;height: 275px;">
      <div class="caption">
        <h3>Practical vedic Solutions to Problems of Life</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1v-7kngKcEdj3AE8a9epdMPXZprtPReKc/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DYS_4.jpg" alt="image-error" style="width: 381px;height: 275px;">
      <div class="caption">
        <h3>Existence of Soul-Fact or Fantasy</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1_Jvn4dsyEFzj2ZJKM0ExNa2n8n-N4QLI/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DYS_5.jpg" alt="image-error" style="width: 366px;height: 275px;">
      <div class="caption">
        <h3>Substance and Shadow</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1HXhRmlXaBeow10xVNjRLarS0SOOMl7GD/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DYS_6.jpg" alt="image-error" style="width: 370px;height: 275px;">
      <div class="caption">
        <h3>If God is One then Why so Many Religions</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1juw8DPY4rlvRc-YYkbw_r7B5uQsIhLpE/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>



</div>   <!-- closure of outer-->

</div>

<nav class="navbar  navbar-default aud">
  <div class="container">
    <!-- brand -->
    <div class="navbar-header">
      <p class="navbar-brand">Prerna Festival Lectures</p>
    </div>
    <!-- brand ends -->


  </div>  <!-- category div-->
</nav> <!-- category nav-->

<div class="prf container-fluid">

<div class="row">  <!-- row open-->

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/PQPA.jpg" alt="image-error" style="width: 236px;height: 275px;">
      <div class="caption">
        <h3>Perfect Questions Perfect Answers-1</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1uBbIJAU5hcsMVU4ZkCkGc0RUj-_ePBgQ/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/PQPA.jpg" alt="image-error" style="width: 236px;height: 275px;">
      <div class="caption">
        <h3>Perfect Questions Perfect Answers-2</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1xge_PeBOvlXZyIHsexfg89nwUsgxROMc/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/FST.jpg" alt="image-error" style="width: 344px;height: 275px;">
      <div class="caption">
        <h3>Failures as stepping Stones to Success</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1tg7L1KdauKwFgJ2-gn8S2A7nmaNL-Foe/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DRW.jpg" alt="image-error" style="width: 386px;height: 275px;">
      <div class="caption">
        <h3>Destroying the Ravana Within</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1qQxN95LqN06N-NKz9lwmWI5unx4NbqhT/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>



  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/POL.jpg" alt="image-error" style="width: 252px;height: 275px;">
      <div class="caption">
        <h3>Power Of Love-1</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1YgktoGcSIieZW0sJDFT9wRfzt5hFcoWf/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/POL.jpg" alt="image-error" style="width: 252px;height: 275px;">
      <div class="caption">
        <h3>Power Of Love-2</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1mtsoL0Hjgyn_st8sGFw-3DOIn64D_O2e/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/CCM.jpg" alt="image-error" style="width: 304px;height: 275px;">
      <div class="caption">
        <h3>Curing the Cancer of Mind</h3>
        <h5>HG Gauranga Das</h5>
        <p>
          <a href="https://drive.google.com/file/d/1EGI_7G4VsCb2EmsXLsuDTHcR4-geWK6p/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/OA.jpg" alt="image-error" style="width: 388px;height: 275;">
      <div class="caption">
        <h3>Overcoming Anger</h3>
        <h5>HG Gauranga Das</h5>
        <p>
          <a href="https://drive.google.com/file/d/1aYEq828m4RXeNlW6lmhYcUzKNi-R3vBD/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/POH.jpg" alt="image-error" style="width: 343px;height: 275;">
      <div class="caption">
        <h3>Power of Habits-1</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1PQkGCbEDr6QnIvZNsTQeKlovLy8mBTFi/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/POH.jpg" alt="image-error" style="width: 343px;height: 275;">
      <div class="caption">
        <h3>Power of Habits-2</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1RD2kPc8aT03efrrBBsCSQU68b-gFMdx2/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/BFB.jpg" alt="image-error" style="width: 362px;height: 275;">
      <div class="caption">
        <h3>Break Free of Bonds-1</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1SzPAh1pEAxbXosmKAzjsiEeY3JMUDqE9/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/BFB.jpg" alt="image-error" style="width: 362px;height: 275;">
      <div class="caption">
        <h3>Break Free of Bonds-2</h3>
        <h5>HG RadheShyam Prabhu</h5>
        <p>
          <a href="https://drive.google.com/file/d/1VIe6xHA_BOivbT6RmmmF9P3TgCBMaff4/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/ERR.jpg" alt="image-error" style="width: 383px;height: 275;">
      <div class="caption">
        <h3>Eshtablishing the Ram Rajya Within</h3>
        <h5>HH Radhanathan Swami</h5>
        <p>
          <a href="https://drive.google.com/file/d/1-ZvsMr78Pmnz2Do0A87wnEZxFwUUL5rn/view?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Listen</a>
        </p>

      </div>
    </div>
  </div>

</div>  <!-- outer closer-->

</div>

<!--  Put in Last -->
<nav class="navbar  navbar-default">
  <div class="container">
    <!-- brand -->
    <div class="navbar-header">
      <p class="navbar-brand">Kirtan Downloads and More </p>
    </div>
    <!-- brand ends -->
 </div>  <!-- category div-->
</nav> <!-- category nav-->

<div class="kirtan container-fluid">

<div class="row">   <!-- outer Row -->

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/AD.jpg" alt="image-error" style="width: 275px;height: 275px;">
      <div class="caption">
        <h3>Vrindavana Melllows</h3>
        <h5>Aindra Dasa</h5>
        <p>
          <a href="https://drive.google.com/drive/folders/1ptILZKa9Ex12xnu6C0CYhuSg35fMp7Vt?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/GN.jpg" alt="image-error" style="width: 365px;height: 275px;">
      <div class="caption">
        <h3>MahaMantra Kirtans and More </h3>
        <p>
          <a href="https://drive.google.com/drive/folders/1R9J1SV2C53rwUcgEVAjWzxYsilxCRRxt?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/BG.jpg" alt="image-error" style="width: 488px;height: 275px;">
      <div class="caption">
        <h3>Bhagwat Gita Shloka Recitation</h3>
        <p>
          <a href="https://drive.google.com/drive/folders/1R9J1SV2C53rwUcgEVAjWzxYsilxCRRxt?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/BS.jpg" alt="image-error" style="width: 488px;height: 275px;">
      <div class="caption">
        <h3>Bramha Samita</h3>
        <p>
          <a href="https://drive.google.com/drive/folders/1R9J1SV2C53rwUcgEVAjWzxYsilxCRRxt?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>Listen</a>
        </p>

      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/DA.jpg" alt="image-error" style="width: 214px;height: 275px;">
      <div class="caption">
        <h3>Damodar Ashatkam</h3>
        <p>
          <a href="https://drive.google.com/drive/folders/1R9J1SV2C53rwUcgEVAjWzxYsilxCRRxt?usp=sharing" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>Listen</a>
        </p>

      </div>
    </div>
  </div>

</div> <!-- outer closer-->

</div>
<%- include("partials/footer") -%>
