<%- include("partials/header") -%>



 <nav class="navbar  navbar-default">   <!-- AMP -->
<div class="container">
  <!-- brand -->
  <div class="navbar-header">
    <p class="navbar-brand">HG ACHYUT MOHAN PRABHU JI'S LECTURES</p>
  </div>
  <!-- brand ends -->


</div>  <!-- category div-->
</nav> <!-- category nav-->

<div class="AMP container-fluid">

  <div class="row" >

    <div class="col-sm-12 col-md-6">
      <center>
        <iframe width="500" height="250" class="vid"
        src="https://www.youtube.com/embed/KEiuNRBGuhk">
        </iframe>
      </center>
        </div>

    <div class="col-sm-12 col-md-6">
     <center>
       <iframe width="500" height="250" class="vid"
        src="https://www.youtube.com/embed/r5FYNjCgC5w">
        </iframe>
      </center>
      </div>



    <div class="col-sm-12 col-md-6">
           <center>
            <iframe width="500" height="250" class="vid"
            src="https://www.youtube.com/embed/ztW_CXqrPJE">
            </iframe>
           </center>
          </div>

          <div class="col-sm-12 col-md-6">
                 <center>
                  <iframe width="500" height="250" class="vid"
                  src="https://www.youtube.com/embed/r10jolc4dPg">
                  </iframe>
                 </center>
                </div>

                <div class="col-sm-12 col-md-6">
                       <center>
                        <iframe width="500" height="250" class="vid"
                        src="https://www.youtube.com/embed/DMMPEHwKYj8">
                        </iframe>
                       </center>
                      </div>

                      <div class="col-sm-12 col-md-6">
                             <center>
                              <iframe width="500" height="250" class="vid"
                              src="https://www.youtube.com/embed/aex4wzTyHx8">
                              </iframe>
                             </center>
                            </div>


  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid" src="https://www.youtube.com/embed/X5KZ3c6eWSQ">
      </iframe>
    </center>
  </div>

  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid" src="https://www.youtube.com/embed/1NIZonSZbvA">
      </iframe>
    </center>
  </div>

  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid" src="https://www.youtube.com/embed/YDGeNkoOc9c">
      </iframe>
    </center>
  </div>

  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid" src="https://www.youtube.com/embed/ojANGwZOfIk">
      </iframe>
    </center>
  </div>



  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid" src="https://www.youtube.com/embed/3HtqOTvKsuc">
      </iframe>
    </center>
  </div>

  </div>

</div>


<nav class="navbar  navbar-default">  <!-- SPP -->
<div class="container">
  <!-- brand -->
  <div class="navbar-header">
    <p class="navbar-brand">SANDEEP PRABHU JI'S LECTURES</p>
  </div>
  <!-- brand ends -->


</div>  <!-- category div-->
</nav> <!-- category nav-->

<div class="SPP container-fluid">

  <div class="row" >

    <div class="col-sm-12 col-md-6">
      <center>
        <iframe width="500" height="250" class="vid"
        src="https://www.youtube.com/embed/-4mr8O4ypZU">
        </iframe>
      </center>
    </div>

    <div class="col-sm-12 col-md-6">
     <center>
       <iframe width="500" height="250" class="vid"
        src="https://www.youtube.com/embed/SUtxtjMk7Hk">
        </iframe>
      </center>
      </div>

    <div class="col-sm-12 col-md-6">
      <center>
        <iframe width="500" height="250" class="vid"
        src="https://www.youtube.com/embed/fa6bql0CGik">
        </iframe>
      </center>
        </div>

    <div class="col-sm-12 col-md-6">
           <center>
            <iframe width="500" height="250" class="vid"
            src="https://www.youtube.com/embed/Am-L15KHqqg">
            </iframe>
           </center>
          </div>

          <div class="col-sm-12 col-md-6">
            <center>
              <iframe width="500" height="250" class="vid"
              src="https://www.youtube.com/embed/2V8nGe6tNds">
              </iframe>
            </center>
              </div>

          <div class="col-sm-12 col-md-6">
                 <center>
                  <iframe width="500" height="250" class="vid"
                  src="https://www.youtube.com/embed/Z392-cbbJJY">
                  </iframe>
                 </center>
                </div>




  </div>

</div>



<nav class="navbar  navbar-default">
<div class="container">
  <!-- brand -->
  <div class="navbar-header">
    <p class="navbar-brand">GUEST TALKS AND DEBATES</p>
  </div>
  <!-- brand ends -->


</div>  <!-- category div-->
</nav> <!-- category nav-->

<div class="GTD container-fluid">

<div class="row" >

  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid"
      src="https://www.youtube.com/embed/H-Ik01GEnCE">
      </iframe>
    </center>
  </div>

  <div class="col-sm-12 col-md-6">
   <center>
     <iframe width="500" height="250" class="vid"
      src="https://www.youtube.com/embed/hhIo_AMlrA8">
      </iframe>
    </center>
    </div>

  <div class="col-sm-12 col-md-6">
    <center>
      <iframe width="500" height="250" class="vid"
      src="https://www.youtube.com/embed/UVj_rZbQqZ8">
      </iframe>
    </center>
      </div>

  <div class="col-sm-12 col-md-6">
         <center>
          <iframe width="500" height="250" class="vid"
          src="https://www.youtube.com/embed/nVqmuVlBs4E">
          </iframe>
         </center>
        </div>

        <div class="col-sm-12 col-md-6">
               <center>
                <iframe width="500" height="250" class="vid"
                src="https://www.youtube.com/embed/i1YknuRZoc4">
                </iframe>
               </center>
              </div>




</div>

</div>

<%- include("partials/footer") -%>
